.header {
  margin-bottom: 4rem;
}

.header h2 {
  margin-bottom: 1rem;
  font: 700 1.875rem var(--font-title);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.header p {
  line-height: 1.625rem;
}

.header p strong {
  color: var(--base-color);
}