.header {
  margin-bottom: 4rem;
}

.header h2 {
  margin-bottom: 1rem;
  font: var(--font-bold) var(--title-size) var(--font-title);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.header .subtitle {
  line-height: var(--body-line-height);
  color: var(--title-color);
  font-size: var(--subtitle-size);
}

.header .subtitle strong {
  color: var(--base-color);
}