.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2rem;
  border-radius: var(--border);
  font: var(--font-bold) var(--body-size) var(--font-body);
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--base-color-alt);
}