* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font: var(--font-regular) var(--body-size) var(--font-body);
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--base-color);
}

/* BREAKPOINTS */
@media screen and (min-width: 1200px) {
  main {
    margin-top: var(--header-height);
  }

  .container {
    max-width: 70rem;
    margin: 0 auto;
  }
  
  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #home .container {
    grid-auto-flow: column;
    width: fit-content;
    margin: 0 auto;
    gap: 8rem;
    justify-content: space-between;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #contact .container {
    grid-auto-flow: column;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}