:root {
  --header-height: 4.5rem;
  --border: 0.25rem;
  --shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  --shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.1);

  /* colors */
  --hue: 159;
  
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* Font setting */
  --font-title: 'Poppins', sans-serif;
  --font-body: 'DM Sans', sans-serif;
  --font-regular: 500;
  --font-bold: 700;
  --title-size: 1.875rem;
  --subtitle-size: 1rem;
  --body-size: 1rem;
  --quote-size: 3rem;
  --body-line-height: 1.625rem;
  --logo-font-size: 1.31rem;
}

@media screen and (min-width: 992px) {
  :root {
    --title-size: 2.25rem;
    --subtitle-size: 1.125rem;
  }
}