.about {
  overflow: hidden;
  background-color: white;
}

.image {
  position: relative;
}

.image span {
  border-radius: var(--border);
}

.image::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  border-radius: var(--border);
}

.title h2 {
  margin-bottom: 1rem;
  font: var(--font-bold) var(--title-size) var(--font-title);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.title p {
  line-height: var(--body-line-height);
}
