.contact {
  display: grid;
  gap: 4rem;
}

.contact h2 {
  margin-bottom: 1rem;
  font: var(--font-bold) var(--title-size) var(--font-title);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.contact p {
  line-height: var(--body-line-height);
  margin-bottom: 2rem;
}

@media screen and (min-width: 1023px) {
  .contact {
    align-items: center;
  }

  .text {
    max-width: 25rem;
  }
}