.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  gap: 0.625rem;
  font: 500 1rem var(--font-text);
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--base-color-alt);
}

.button i {
  padding: 0.125rem;
  width: 1.5rem;
  height: 1.5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.button i svg {
  width: 100%;
  height: 100%;
}