.testimonial blockquote {
  padding: 2rem;
  user-select: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

.testimonial blockquote p {
  line-height: 1.625rem;
  color: var(--title-color);
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
}

.testimonial blockquote p span {
  color: var(--base-color);
  font: 700 3rem 'Georgia', serif;
  position: absolute;
  top: -0.8rem;
  left: -1.85rem;
}

.testimonial cite {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-style: normal;
}

.testimonial cite img {
  clip-path: circle();
}