.testimonial blockquote {
  padding: 2rem;
  user-select: none;
  box-shadow: var(--shadow);
  border-radius: var(--border);
}

.testimonial blockquote p {
  line-height: var(--body-line-height);
  color: var(--title-color);
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
}

.testimonial blockquote p span {
  color: var(--base-color);
  font: var(--font-bold) var(--quote-size) 'Georgia', serif;
  position: absolute;
  top: -0.8rem;
  left: -1.85rem;
}

.testimonial cite {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-style: normal;
}

.testimonial cite img {
  clip-path: circle();
}