.menu ul {
  display: flex;
  gap: 2rem;
}

.title {
  font: var(--font-regular) var(--body-size) var(--font-title);
  color: var(--title-color);
  -webkit-font-smoothing: auto;

  transition: color .3s ease-in-out;
  position: relative;
}

.title:hover {
  color: var(--base-color);
}

.title::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--base-color);

  position: absolute;
  bottom: -1.5rem;
  left: 0;

  transition: width .2s ease-in-out;
}

.title:hover::after {
  width: 100%;
}